* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    background-color: #7a86b6;
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px;
}

#navbar p {
    cursor: pointer;
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
}

#navbar .name {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    color: #ffffff;
}

.namediv a {
    text-decoration: none;
}

/* <-----------menu button and overlay--------------> */
#navbar .name:hover {
    color: #abf0ef;
}

.menuiconwrapper {
    display: none;
}

.menuclosebutton,
.menuopenbutton {
    cursor: pointer;
    font-size: 32px;
    color: #ffffff;
    margin-right: 10px;
}

.menuclosebutton:hover,
.menuopenbutton:hover {
    color: #5bbdbc;
}

.menuoverlay {
    position: fixed;
    height: 350px;
    width: 100vw;
    background-color: #7a86b6;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuoverlaywrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menucontents a,
.menusocialicons a {
    text-decoration: none;
    color: white;
}

.menucontents a:hover,
.icon:hover {
    color: #5bbdbc;
}

.menucontents p {
    cursor: pointer;
    margin: 14px auto;
    text-align: center;
}

.menucontents p:hover {
    font-size: 24px;
    border-bottom: 2px solid #e4e403;
}

.menucontents,
.icon {
    font-size: 22px;
    color: white;
}

.icon {
    cursor: pointer;
    margin: 18px 18px;
}

.icon:hover {
    font-size: 26px;
}

/* <----------------------------------------------------> */
.about-project-contact {
    width: 40%;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-project-contact a {
    text-decoration: none;
}

.about-project-contact p:hover {
    border-bottom: 2px solid #e4e403;
}

/* 700px and above */
@media screen and (min-width: 900px) {
    .menuoverlay {
        display: none;
    }
}

/* 1020px and below */
@media screen and (max-width: 1020px) {
    .about-project-contact {
        width: 50%;
    }
}

/* 700px and below */
@media screen and (max-width: 900px) {
    .menuiconwrapper {
        display: block;
    }

    #navbar .name {
        font-size: 30px;
    }

    #menuopenbutton,
    #menuclosebutton {
        font-size: 30px;
    }

    .about-project-contact {
        display: none;
    }
}