#navbar {
    background-color: #7a86b6;
    position: fixed;
    width: 100%;
    z-index: 222;
}

#navbar .nav-wrapper {
    height: 8vh;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 2rem;
}

#navbar p {
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 300;
    color: #ffffff;
}

#navbar .name {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    color: #ffffff;
}

.namediv a {
    text-decoration: none;
}

/* <-----------menu button and overlay--------------> */
#navbar .name:hover {
    color: #abf0ef;
}

.menuiconwrapper {
    display: none;
}

.menuclosebutton,
.menuopenbutton {
    cursor: pointer;
    font-size: 2.4rem;
    color: #ffffff;
}

.menuclosebutton:hover,
.menuopenbutton:hover {
    color: #5bbdbc;
}

.menuoverlay {
    position: fixed;
    height: 350px;
    width: 100vw;
    background-color: #7a86b6;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuoverlaywrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menucontents {
    margin-top: 8vh;
}

.menucontents a,
.menusocialicons a {
    text-decoration: none;
    color: white;
}

.menucontents a:hover,
.icon:hover {
    color: #5bbdbc;
}

.menucontents p {
    cursor: pointer;
    margin: 1rem auto;
    text-align: center;
}

.menucontents p:hover {
    font-size: 1.5rem;
    border-bottom: 2px solid #e4e403;
}

.menucontents,
.icon {
    font-size: 1.4rem;
    color: white;
}

.icon {
    cursor: pointer;
    margin: 1rem 1rem;
}

.icon:hover {
    font-size: 2rem;
}

/* <----------------------------------------------------> */
.about-project-contact {
    width: 40%;
    margin-right: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-project-contact a {
    text-decoration: none;
}

.about-project-contact p:hover {
    border-bottom: 2px solid #e4e403;
}

/* 700px and above */
@media screen and (min-width: 900px) {
    .menuoverlay {
        display: none;
    }
}

/* 1020px and below */
@media screen and (max-width: 1020px) {
    .about-project-contact {
        width: 50%;
    }
}

/* 700px and below */
@media screen and (max-width: 900px) {
    .menuiconwrapper {
        display: block;
    }

    #navbar .name {
        font-size: 1.6rem;
    }

    #menuopenbutton,
    #menuclosebutton {
        font-size: 1.4rem;
    }

    .about-project-contact {
        display: none;
    }
}